@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/Ealenn/mailbox-cleaner" target="_blank"><span class="oi oi-code"></span> GitHub</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
